---
import Section from "../Section.astro";
import CV from "@cv";
const { summary } = CV.basics;

const words = summary.split(' ');
---

<Section className={Astro.props.className} title="About">
  <div class="font-sans opacity-90 text-sm text-skin-base font-normal w-full select-none flex flex-col gap-3">
    {summary.split('\n\n').map((paragraph) => (
      <p class="sm:hover:bg-skin-button-muted transition-all duration-200 sm:hover:cursor-none">
        {paragraph}
      </p>
    ))}
  </div>
</Section>